[Desktop Entry]
Name=Fuse FUSE_VERSION
Comment=Fuse ZX Spectrum emulator FUSE_VERSION (vFUSE_OD_VERSION) (System)
Exec=fuse-gcw0
Icon=fuse
Type=Application
Categories=emulators;
MimeType=application/zx-snapshot;application/zx-disk;application/zx-tape;
X-OD-NeedsDownscaling=true
X-OD-Manual=readme.txt
